.maincont {
  display: flex;
  height: calc(100vh - 100px);
  position: relative;
  justify-content: center;
  align-items: center;
}

.maincont h3 {
  margin-top: 0;
  padding: 20px 20px 0px 20px;
  text-align: "center";
  width: max-content;
  margin: auto;
  color: #8029d1;
}

.btn {
  position: absolute;
  left: 0;
  top: 50%;
}

.btn button {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  margin-right: 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.btn button svg {
  vertical-align: sub;
  font-size: 1.6rem;
}

.btn button:hover {
  cursor: pointer;
  color: #8029d1;
}

@media screen and (max-width: 750px) {
  .maincont {
    overflow: auto;
  }

  .btn {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .btn button svg {
    transform: rotate(90deg);
  }

  .btn button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}
